default-src 'none'
script-src 'self'
style-src 'self'
img-src 'self' data: https://tiles.openfreemap.org
connect-src 'self' https://tiles.openfreemap.org${api_origin}
worker-src 'self'
child-src 'self'
frame-src 'none'
font-src 'self'
manifest-src 'self'
base-uri 'none'
form-action 'self'
frame-ancestors 'none'
